<!DOCTYPE html>
<html lang="en">
<head>

  
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Example3 - KVStore Form</title>
    <link rel="shortcut icon" href="/en-US/static/@58F5848845F9DDF4578B0DFBA0D935650C4B51E66C5E7687CD71BDDE06EA50B0.193/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/angular_examples/kvstore_form.css" />
  	<link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/angular_examples/angular_examples.css" />
    <meta name="referrer" content="never" />
    <meta name="referrer" content="no-referrer" />
	
	
</head>
<body class="simplexml preload locale-en" data-splunk-version="7.0.0" data-splunk-product="enterprise">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<header>
    <a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
    <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
                <div id="placeholder-app-bar"></div>
    </div>
    <a id="navSkip"></a>
</header>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
<!-- Angular starts here -->
<div ng-app="myApp" ng-controller="myCtrl">


    <div class="dashboard-header clearfix">
		<div class="add-dashboard-controls pull-right">
			<button class="btn btn-primary add-dashboard" data-toggle="modal" data-target="#createNew">Create new record</button>
		</div>
		<h2>KVStore Form</h2>
    </div>



	<table id="list_table" class="table table-chrome table-striped" style="display: none;table-layout: fixed;">
	  <thead class="bulk-table-head 446">
		<th>Name</th>
		<th>Phone</th>
		<th>Time</th>
		<th>Comment</th>
        <th>Action</th>
	  </thead>
	  <tbody class="pages-listings">
		<tr ng-repeat="x in list">
			<td>{{ x.name }}</td>
			<td>{{ x.phone }}</td>
			<td>{{ x.time }}</td>
			<td>{{ x.comment }}</td>
			<td>
				<div class="dropdown">
                  <a class="dropdown-toggle" ng-click="delete(x)">Delete</a>
				</div>
			</td>
		</tr>
	  </tbody>
	</table>
	
	<!-- Modal form pop up -->
	<div class="modal fade" id="createNew" role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">

		  <!-- Modal content-->
		  <div class="modal-content">
			<form name="create_new_form" ng-submit="create_new_submit()">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal"><![CDATA[&times;]]></button>
				  <h4 class="modal-title">New record</h4>
				</div>
				<div class="modal-body">
					<div class="form form-horizontal form-justified">
						<div class="control-group shared-controls-controlgroup control-group-default">
							<label class="control-label">Name</label>
							<div class="controls">
								<div class="control shared-controls-textcontrol control-default">
									<span class="uneditable-input " data-role="uneditable-input" style="display:none"></span>
									<input ng-model="create_new.name" type="text" id="name" name="name" class="  " value="" autocomplete="off" required=""/>
								</div>
							</div>
						</div>
                          <div class="control-group shared-controls-controlgroup control-group-default">
							<label class="control-label">Phone</label>
							<div class="controls">
								<div class="control shared-controls-textcontrol control-default">
									<span class="uneditable-input " data-role="uneditable-input" style="display:none"></span>
									<input ng-model="create_new.phone" type="number" id="phone" name="phone" class="  " value="" autocomplete="off" required=""/>
								</div>
							</div>
						</div>
						<div class="control-group shared-controls-controlgroup control-group-default">
								<label class="control-label">Comment</label>
								<div class="controls">
									<div class="control shared-controls-textcontrol control-default">
										<span class="uneditable-input " data-role="uneditable-input" style="display:none"></span>
										<textarea ng-model="create_new.comment" type="text" id="description" name="description" class="" placeholder="optional" style="margin-top: 0px; margin-bottom: 0px; height: 48px;"></textarea>
									</div>
								</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Cancel</button>
				  <input type="submit" id="submit" value="{{ create_button_label }}" class="btn btn-primary modal-btn-primary" ng-disabled="create_new_form.$invalid"></input>
				</div>
			</form>
		  </div>
		  
		</div>
	</div>
	<!-- End of Modal -->
	
	<!-- Modal acknowledge pop up -->
	<div class="modal fade" id="acknowledge" role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
		  <!-- Modal content-->
		  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal"><![CDATA[&times;]]></button>
				  <h4 class="modal-title">Status</h4>
				</div>
				<div class="modal-body">
					<label class="control-label">{{ popup_message }}</label>
				</div>
				<div class="modal-footer">
				  <button type="button" id="close" class="btn btn-primary modal-btn-primary" data-dismiss="modal">Close</button>
				</div>
		  </div>
		</div>
	</div>
	<!-- End of Modal -->
	

<!-- Angular ends here -->
   </div>
  
  
  
  <hr/>
  <p>
    <BR/>
    <h5><u>HTML</u></h5>
    <pre>
&lt;div ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;&gt;


	&lt;div class=&quot;dashboard-header clearfix&quot;&gt;
		&lt;div class=&quot;add-dashboard-controls pull-right&quot;&gt;
			&lt;button class=&quot;btn btn-primary add-dashboard&quot; data-toggle=&quot;modal&quot; data-target=&quot;#createNew&quot;&gt;Create new record&lt;/button&gt;
		&lt;/div&gt;
		&lt;h2&gt;KVStore Form&lt;/h2&gt;
	&lt;/div&gt;



	&lt;table id=&quot;list_table&quot; class=&quot;table table-chrome table-striped&quot; style=&quot;display: none;table-layout: fixed;&quot;&gt;
		&lt;thead class=&quot;bulk-table-head 446&quot;&gt;
			&lt;th&gt;Name&lt;/th&gt;
			&lt;th&gt;Phone&lt;/th&gt;
			&lt;th&gt;Time&lt;/th&gt;
			&lt;th&gt;Comment&lt;/th&gt;
			&lt;th&gt;Action&lt;/th&gt;
		&lt;/thead&gt;
		&lt;tbody class=&quot;pages-listings&quot;&gt;
			&lt;tr ng-repeat=&quot;x in list&quot;&gt;
				&lt;td&gt;{{ x.name }}&lt;/td&gt;
				&lt;td&gt;{{ x.phone }}&lt;/td&gt;
				&lt;td&gt;{{ x.time }}&lt;/td&gt;
				&lt;td&gt;{{ x.comment }}&lt;/td&gt;
				&lt;td&gt;
					&lt;div class=&quot;dropdown&quot;&gt;
						&lt;a class=&quot;dropdown-toggle&quot; ng-click=&quot;delete(x)&quot;&gt;Delete&lt;/a&gt;
					&lt;/div&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;

	&lt;!-- Modal form pop up --&gt;
	&lt;div class=&quot;modal fade&quot; id=&quot;createNew&quot; role=&quot;dialog&quot; aria-hidden=&quot;true&quot; style=&quot;display: none;&quot;&gt;
		&lt;div class=&quot;modal-dialog&quot;&gt;

			&lt;!-- Modal content--&gt;
			&lt;div class=&quot;modal-content&quot;&gt;
				&lt;form name=&quot;create_new_form&quot; ng-submit=&quot;create_new_submit()&quot;&gt;
					&lt;div class=&quot;modal-header&quot;&gt;
						&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot;&gt;&lt;![CDATA[&amp;times;]]&gt;&lt;/button&gt;
						&lt;h4 class=&quot;modal-title&quot;&gt;New record&lt;/h4&gt;
					&lt;/div&gt;
					&lt;div class=&quot;modal-body&quot;&gt;
						&lt;div class=&quot;form form-horizontal form-justified&quot;&gt;
							&lt;div class=&quot;control-group shared-controls-controlgroup control-group-default&quot;&gt;
								&lt;label class=&quot;control-label&quot;&gt;Name&lt;/label&gt;
								&lt;div class=&quot;controls&quot;&gt;
									&lt;div class=&quot;control shared-controls-textcontrol control-default&quot;&gt;
										&lt;span class=&quot;uneditable-input &quot; data-role=&quot;uneditable-input&quot; style=&quot;display:none&quot;&gt;&lt;/span&gt;
										&lt;input ng-model=&quot;create_new.name&quot; type=&quot;text&quot; id=&quot;name&quot; name=&quot;name&quot; class=&quot;  &quot; value=&quot;&quot; autocomplete=&quot;off&quot; required=&quot;&quot;/&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
							&lt;div class=&quot;control-group shared-controls-controlgroup control-group-default&quot;&gt;
								&lt;label class=&quot;control-label&quot;&gt;Phone&lt;/label&gt;
								&lt;div class=&quot;controls&quot;&gt;
									&lt;div class=&quot;control shared-controls-textcontrol control-default&quot;&gt;
										&lt;span class=&quot;uneditable-input &quot; data-role=&quot;uneditable-input&quot; style=&quot;display:none&quot;&gt;&lt;/span&gt;
										&lt;input ng-model=&quot;create_new.phone&quot; type=&quot;number&quot; id=&quot;phone&quot; name=&quot;phone&quot; class=&quot;  &quot; value=&quot;&quot; autocomplete=&quot;off&quot; required=&quot;&quot;/&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
							&lt;div class=&quot;control-group shared-controls-controlgroup control-group-default&quot;&gt;
								&lt;label class=&quot;control-label&quot;&gt;Comment&lt;/label&gt;
								&lt;div class=&quot;controls&quot;&gt;
									&lt;div class=&quot;control shared-controls-textcontrol control-default&quot;&gt;
										&lt;span class=&quot;uneditable-input &quot; data-role=&quot;uneditable-input&quot; style=&quot;display:none&quot;&gt;&lt;/span&gt;
										&lt;textarea ng-model=&quot;create_new.comment&quot; type=&quot;text&quot; id=&quot;description&quot; name=&quot;description&quot; class=&quot;&quot; placeholder=&quot;optional&quot; style=&quot;margin-top: 0px; margin-bottom: 0px; height: 48px;&quot;&gt;&lt;/textarea&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class=&quot;modal-footer&quot;&gt;
						&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot; id=&quot;cancel&quot;&gt;Cancel&lt;/button&gt;
						&lt;input type=&quot;submit&quot; id=&quot;submit&quot; value=&quot;{{ create_button_label }}&quot; class=&quot;btn btn-primary modal-btn-primary&quot; ng-disabled=&quot;create_new_form.$invalid&quot;&gt;&lt;/input&gt;
					&lt;/div&gt;
				&lt;/form&gt;
			&lt;/div&gt;

		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- End of Modal --&gt;

	&lt;!-- Modal acknowledge pop up --&gt;
	&lt;div class=&quot;modal fade&quot; id=&quot;acknowledge&quot; role=&quot;dialog&quot; aria-hidden=&quot;true&quot; style=&quot;display: none;&quot;&gt;
		&lt;div class=&quot;modal-dialog&quot;&gt;
			&lt;!-- Modal content--&gt;
			&lt;div class=&quot;modal-content&quot;&gt;
				&lt;div class=&quot;modal-header&quot;&gt;
					&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot;&gt;&lt;![CDATA[&amp;times;]]&gt;&lt;/button&gt;
					&lt;h4 class=&quot;modal-title&quot;&gt;Status&lt;/h4&gt;
				&lt;/div&gt;
				&lt;div class=&quot;modal-body&quot;&gt;
					&lt;label class=&quot;control-label&quot;&gt;{{ popup_message }}&lt;/label&gt;
				&lt;/div&gt;
				&lt;div class=&quot;modal-footer&quot;&gt;
					&lt;button type=&quot;button&quot; id=&quot;close&quot; class=&quot;btn btn-primary modal-btn-primary&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- End of Modal --&gt;


	&lt;!-- Angular ends here --&gt;
&lt;/div&gt;
    </pre>
  </p>
  <p>
    <h5><u>JS</u></h5>
    <pre>
// required app for angular
var kv_store_db = "demo_db";
var request_url = "storage/collections/data/"+kv_store_db;

$("#acknowledge").on("hidden", function () {
	location.reload(); // refresh after new data has been added
});

var app = angular.module('myApp', []);

// Convert date+time in epoch pattern to string
function dateToString(epoch_date) {
	var d = new Date(0);
	d.setUTCSeconds(epoch_date);
	date_string = ("0" + d.getDate()).slice(-2)+"/"+
	("0" + (d.getMonth()+1)).slice(-2)+"/"+
	d.getFullYear()+" "+
	("0" + d.getHours()).slice(-2)+":"+
	("0" + d.getMinutes()).slice(-2)+":"+
	("0" + d.getSeconds()).slice(-2);
	return date_string;
}


app.controller('myCtrl',['$scope',function($scope) {
	require(["splunkjs/mvc",'splunkjs/mvc/simplexml/ready!'],function(mvc) {
		
		$scope.create_button_label = "Submit";
		var service = mvc.createService({ owner: "nobody" });
		var db_rows;
		req = service.request(
			request_url,
			"GET",
			null,
			null,
			{"Content-Type": "application/json"},
			null);
		req.then(function(response) {
			$scope.list = JSON.parse(response);
			$scope.list.forEach(function(row) {
				row.time = dateToString(row.time/1000); // calculate start time from miliseconds]
			});
				
			$scope.$apply();
			$('#list_table').show();
		});
		
		// Actions when submit pressed
		$scope.create_new_submit = function() {
			var submit_data = {
							'name' : $scope.create_new.name,
							'phone' : $scope.create_new.phone,
							'time' : new Date().getTime(),
							'comment' : $scope.create_new.comment
							}
			service.request(
							  request_url,
							  "POST",
							  null,
							  null,
							  JSON.stringify(submit_data),
							  {"Content-Type": "application/json"},
							  null);
			$("#createNew").modal('toggle'); // hide form popup 
			$scope.popup_message = "New record submitted";
			$("#acknowledge").modal(); // show acknowledge popup
		};
		
		// Delete action function
		$scope.delete = function(row) {
			keyid = row._key;
			service.del(request_url + "/" + encodeURIComponent(keyid))
				.done(function() { 
					$scope.popup_message = "Record deleted";
					$scope.$apply();
					$("#acknowledge").modal('toggle'); // show acknowledge popup
			});
	}
	});
}]);

//# sourceURL=kvstore_form.js
          </pre>
  </p>

  

  
  
  
  
</div>


  

  
<!-- 
END LAYOUT
-->


<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/contrib/bootstrap-2.3.1/bootstrap-dropdown.js"></script>

<script type="text/javascript">
// <![CDATA[
// <![CDATA[
//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/layoutview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        LayoutView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // TokenForwarder
        ) {

        var pageLoading = true;


        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }

        
        
        //
        // SEARCH MANAGERS
        //



        //
        // SPLUNK LAYOUT
        //

        $('header').remove();
        new LayoutView({"hideEdit": true,"hideFooter": false, "hideSplunkBar": false, "hideChrome": false, "hideAppBar": false})
            .render()
            .getContainerElement()
            .appendChild($('.dashboard-body')[0]);



        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //


        //DashboardController.addReadyDep(element1.contentLoaded());
        
        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        submitTokens();


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/angular_examples/angular.min.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/angular_examples/kvstore_form.js" type="text/javascript"></script>
</body>
</html>