<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo2 - Dynamic Table</title>
    <link rel="shortcut icon" href="/en-US/static/@58F5848845F9DDF4578B0DFBA0D935650C4B51E66C5E7687CD71BDDE06EA50B0.529/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/angular_examples/angular_examples.css" />


        <meta name="referrer" content="never" />
        <meta name="referrer" content="no-referrer" />
    
          <script>
                window._splunk_metrics_events = {
                   push : function() {},
                   active: false,
                   }
          </script>
    </head>
<body class="simplexml preload locale-en" data-splunk-version="7.0.0" data-splunk-product="enterprise">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<header>
    <a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
    <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
                <div id="placeholder-app-bar"></div>
    </div>
    <a id="navSkip"></a>
</header>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Demo2 - Dynamic Table</h2>
    </div>

<!-- Angular demo starts here -->
<div class="dashboard-row">
  <div class="dashboard-panel">
<ul><b>my_list</b> is an array within angular scope ($scope.my_list)</ul>
<ul>The table is populated with the array data in <b>my_list</b> with <a href="https://www.w3schools.com/angular/ng_ng-repeat.asp"><i>ng-repeat</i></a>  feature of angular </ul>
  <div ng-app="myApp" ng-controller="myCtrl">    
  	<table id="my_table" class="table table-chrome table-striped" style="display: none;table-layout: fixed;">
		  <thead class="bulk-table-head">
			<th>Header1</th>
			<th>Header2</th>
            <th>Header3</th>
		  </thead>
		  <tbody class="pages-listings">
			<tr ng-repeat="x in my_list">
				<td>{{ x.field1 }}</td>
				<td>{{ x.field2 }}</td>
                <td><a ng-click="action(x)">More Details</a></td>
			</tr>
		  </tbody>
		</table>
        <div id="details">
      		<h3>Dynamic row details</h3><BR/>
          <BR/>  
          <table>
  			<tr ng-repeat="(key, value) in row_details">
    		<td> {{key}} :</td> <td> {{ value }} </td>
  			</tr>
		</table>
      	</div>
  </div>

  <hr/>
  <p>
    <BR/>
    <h5><u>HTML</u></h5>
    <pre>
      
 &lt;div ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;&gt;    
  	&lt;table id=&quot;my_table&quot; class=&quot;table table-chrome table-striped&quot; style=&quot;display: none;table-layout: fixed;&quot;&gt;
		  &lt;thead class=&quot;bulk-table-head&quot;&gt;
			&lt;th&gt;Header1&lt;/th&gt;
			&lt;th&gt;Header2&lt;/th&gt;
            &lt;th&gt;Header3&lt;/th&gt;
		  &lt;/thead&gt;
		  &lt;tbody class=&quot;pages-listings&quot;&gt;
			&lt;tr ng-repeat=&quot;x in my_list&quot;&gt;
				&lt;td&gt;{{ x.field1 }}&lt;/td&gt;
				&lt;td&gt;{{ x.field2 }}&lt;/td&gt;
                &lt;td&gt;&lt;a ng-click=&quot;action(x)&quot;&gt;More Details&lt;/a&gt;&lt;/td&gt;
			&lt;/tr&gt;
		  &lt;/tbody&gt;
		&lt;/table&gt;
        &lt;div id=&quot;details&quot;&gt;
      		&lt;h3&gt;Dynamic row details&lt;/h3&gt;&lt;BR/&gt;
          &lt;BR/&gt;  
          &lt;table&gt;
  			&lt;tr ng-repeat=&quot;(key, value) in row_details&quot;&gt;
    		&lt;td&gt; {{key}} :&lt;/td&gt; &lt;td&gt; {{ value }} &lt;/td&gt;
  			&lt;/tr&gt;
		&lt;/table&gt;
      	&lt;/div&gt;
  &lt;/div&gt;
    </pre>
  </p>
  <p>
    <h5><u>JS</u></h5>
    <pre>
      
// required app for angular
var app = angular.module('myApp', []);

app.controller('myCtrl',['$scope',function($scope) {
	require([&quot;splunkjs/mvc&quot;,'splunkjs/mvc/simplexml/ready!'],function(mvc) {
		$scope.my_list = [];
		$scope.my_list.push({'field1':'data1_A','field2':'data1_B','field3':'data1_C','field4':'data1_D','field5':'data1_E','field6':'data1_F'});
		$scope.my_list.push({'field1':'data2_A','field2':'data2_B','field3':'data2_C','field4':'data2_D','field5':'data2_E','field6':'data2_F'});
		$scope.my_list.push({'field1':'data3_A','field2':'data3_B','field3':'data3_C','field4':'data3_D','field5':'data3_E','field6':'data3_F'});
		console.log($scope.my_list);
		
		$scope.action = function(row){
			console.log(row);
			$scope.row_details = row;
		}
		
		$scope.$apply();
		$('#my_table').show();
	});
}]);

    </pre>
  </p>
  </div>
  <!--Angular demo ends here-->
  
</div>
  </div>

<!-- 
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/angular_examples/angular.min.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/angular_examples/angular_examples2.js" type="text/javascript"></script>
<script type="text/javascript">
// <![CDATA[
// <![CDATA[
//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/layoutview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        LayoutView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // TokenForwarder
        ) {

        var pageLoading = true;


        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }

        
        
        //
        // SEARCH MANAGERS
        //



        //
        // SPLUNK LAYOUT
        //

        $('header').remove();
        new LayoutView({"hideAppBar": false, "hideChrome": false, "hideFooter": false, "hideSplunkBar": false})
            .render()
            .getContainerElement()
            .appendChild($('.dashboard-body')[0]);

        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: true
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        submitTokens();


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
</body>
</html>